<div id="region-card" class="!mb-[35px]">
      {% for reg in regions %}
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg mr-4 mt-[10px] ml-4 last-card"
            style="width: 224px; box-shadow: -2px 2px 6px 1px #CFCFCF;">
            <div class="w-[240px] h-[100px]">
                  <img src="regions/static/img/{{ reg.reg_image }}" class="w-[224px] h-[100px]"
                        style="border-top-left-radius: 4px; border-top-right-radius: 4px;" alt="loc image">
            </div>

            <div class="ui-card-body mt-2 flex-col">
                  <div class="text-[14px] font-[600] ml-[15px]">{{ reg.reg_name }}</div>
            </div>

            <div style="width: 220px; height: 35px; margin-top: 20px; display: flex; justify-content: center">
                  <button class="outline-btn w-[100px] ml-[10px] mr-[10px] mb-[0px] text-[11px] h-[28px]"
                        style="border-radius: 6px; border: 1px solid #ccc;"
                        onclick="loadRegionDetailsTemplate('{{ reg.reg_id }}')">
                        View Details
                  </button>

                  <button class="outline-btn w-[100px] ml-[10px] mr-[10px] mb-[0px] text-[11px] h-[28px]"
                        style="border-radius: 6px; border: 1px solid #ccc;"
                        onclick="showOnMap('{{ reg.reg_lat }}', '{{ reg.reg_lng }}')">
                        Show on Map
                  </button>
            </div>
      </div>
      {% endfor %}
</div>