{% extends 'base.html' %}

{% block additional_css %}
<style>
	#form-instructions {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 20px;
		box-sizing: border-box;
		font-size: .9rem;
	}

	#add-region-form {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		padding: 0px;
		box-sizing: border-box;
	}

	#add-region-form-wrapper {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
	}

	#form-columns {
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		padding-left: 20px;
	}


	#left-col {
		position: absolute;
		left: 20px;
		width: 420px !important;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

	#right-col {
		position: absolute;
		left: 440px;
		right: 0px;
		padding-top: 0px;
		height: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
		box-sizing: border-box;
		width: 100%;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
		background-repeat: no-repeat;
		background-position-x: 98%;
		background-position-y: 50%;
		background-color: #fff;
		padding-right: 20px;
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 350px;
		height: 32px;
		outline: none;
		padding-left: 10px !important;
		font-size: .8em !important;
	}

	.select,
	.form-input {
		height: 30px !important;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding-left: 10px;
		font-size: .8em !important;
		color: #5a5a5a !important;
		margin-top: 5px;
		box-sizing: border-box;
		width: 350px;
	}

	.disabled {
		background-color: #f4f4f4;
		color: #5a5a5a;
		border-radius: 4px;
		height: 30px !important;
	}

	.form-textarea {
		height: 80px !important;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding-left: 10px;
		font-size: .8em !important;
		color: #5a5a5a !important;
		margin-top: 5px;
		box-sizing: border-box;
		width: 100%;
	}

	option {
		padding: 4px;
		height: 24px !important;
	}

	#buttons-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 20px;
		padding-left: 0px;
		box-sizing: border-box;
		margin-top: 10px !important;
	}

	.cancel-btn,
	.submit-btn {
		width: 100px;
		height: 30px;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #0052a9;
		color: white;
		font-weight: 500;
		font-size: .8em;
		cursor: pointer;
		margin-left: 15px;
		margin-right: 0px;
		margin-top: 10px;
		font-size: .8rem;
		padding: 6px;
	}

	.cancel-btn {
		background-color: #ccc;
		color: #5a5a5a;
	}

	.btn-disabled {
		width: auto;
		background-color: #f7f7f7;
		color: #919191;
		border-radius: 4px;
		border: 1px solid #ccc;
		height: 29px !important;
		cursor: default !important;
		font-size: .8em;
		padding: 4px 12px;
	}

	.btn-outline {
		width: auto;
		height: 30px;
		background-color: white;
		color: #5a5a5a;
		border: 1px solid #ccc;
		border-radius: 4px;
		cursor: pointer;
		font-size: .8em;
		padding: 4px 12px;
	}

	.btn-solid {
		width: auto;
		height: 30px;
		background-color: #3282b8;
		color: #ffffff;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: .8em;
		padding: 4px 12px;
	}

	.form-label {
		font-size: .8em !important;
		font-weight: 650;
		color: #5a5a5a;
		user-select: none;
	}

	.rotateImg {
		cursor: pointer;
		text-decoration: none;
		margin: 0 3px 5px 3px;
		transition: all .3s ease-in-out;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.rotateImg:hover {
		transform: rotate(360deg);
	}

	.zindex {
		z-index: 1000;
	}

	#region-map {
		position: absolute;
		top: 70px;
		left: 0;
		right: 50px;
		height: 584px !important;
		border: 1px solid #ccc;
	}
</style>
{% endblock additional_css %}


<!-- MODULE CONTAINER -->
{% block module_container %}
<!-- Form Header & Close Button -->
<div id="form-header" class="h-[42px]" style="background-color: hsla(221, 100%, 62%, 0.226);">
	<div class="p-[8px] pt-[11px] !text-[16px] text-[#276690] font-[800] h-full ml-[10px]">Add Region
	</div>
	<a href="{{ url_for('regions.regions') }}">
		<i
			class="fa-solid fa-xmark absolute top-[10px] right-[15px] text-[20px] text-[#276690] cursor-pointer rotateImg"></i>
	</a>
</div>
<!-- Add Region Form -->
<div id="add-region-form-wrapper">
	<!-- Form Instructions -->
	<div id="form-instructions">
		Please provide region details below. All fields are required.
	</div>

	<!-- Region Add Form -->
	<form id="add-region-form" action="/add_region" method="POST" enctype="multipart/form-data" novalidate>
		{{ form.csrf_token }}

		<div id="form-columns">
			<!-- Left Column -->
			<div id="left-col">
				<!-- Region Name -->
				<div class="form-group flex flex-col">
					<!-- Fileds -->
					{% if form.reg_name.errors %}
					{{ form.reg_name.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] text-[red]
					font-[500]") }}
					{{ form.reg_name(class_="border border-[red] w-[350px] focus:outline-none pl-[10px]
					p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% else %}
					{{ form.reg_name.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] font-[500]") }}
					{{ form.reg_name(class_="border border-[#ccc] w-[350px] focus:outline-none pl-[10px]
					p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% endif %}

					<!-- Error Message -->
					<ul>
						{% for error in form.reg_name.errors %}
						<li class="text-[red] text-[11px] font-[600] pt-[5px]">{{ error }}</li>
						{% endfor %}
					</ul>
				</div>

				<!-- Region Description -->
				<div class="form-group flex flex-col">
					<!-- Fileds -->
					{% if form.reg_description.errors %}
					{{ form.reg_description.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] text-[red]
					font-[500]")
					}}
					{{ form.reg_description(rows=8, class_="border border-[red] w-[350px] focus:outline-none
					pl-[10px]
					p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% else %}
					{{ form.reg_description.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] font-[500]")
					}}
					{{ form.reg_description(class_="h-[90px] max-h-[90px] min-h-[90px] border border-[#ccc]
					w-[350px]
					focus:outline-none pl-[10px] p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% endif %}

					<!-- Error Message -->
					<ul>
						{% for error in form.reg_description.errors %}
						<li class="text-[red] text-[11px] font-[600] pt-[5px]">{{ error }}</li>
						{% endfor %}
					</ul>
				</div>

				<!-- Manager Name -->
				<div class="form-group flex flex-col">
					<!-- Fileds -->
					{% if form.reg_manager.errors %}
					{{ form.reg_manager.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] text-[red]
					font-[500]") }}
					{{ form.reg_manager(class_="border border-[red] w-[350px] focus:outline-none
					pl-[10px] p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% else %}
					{{ form.reg_manager.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] font-[500]")
					}}
					{{ form.reg_manager(class_="border border-[#ccc] w-[350px] focus:outline-none
					pl-[10px] p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% endif %}

					<!-- Error Message -->
					<ul>
						{% for error in form.reg_manager.errors %}
						<li class="text-[red] text-[11px] font-[600] pt-[5px]">{{ error }}</li>
						{% endfor %}
					</ul>
				</div>

				<!-- Manager Phone -->
				<div class="form-group flex flex-col">
					<!-- Fileds -->
					{% if form.reg_manager_phone.errors %}
					{{ form.reg_manager_phone.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px]
					text-[red] font-[500]") }}
					{{ form.reg_manager_phone(class_="border border-[red] w-[350px] focus:outline-none
					pl-[10px] p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% else %}
					{{ form.reg_manager_phone.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px]
					font-[500]") }}
					{{ form.reg_manager_phone(class_="border border-[#ccc] w-[350px] focus:outline-none
					pl-[10px] p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% endif %}

					<!-- Error Message -->
					<ul>
						{% for error in form.reg_manager_phone.errors %}
						<li class="text-[red] text-[11px] font-[600] pt-[5px]">{{ error }}</li>
						{% endfor %}
					</ul>
				</div>

				<!-- Manager Emai -->
				<div class="form-group flex flex-col">
					<!-- Fileds -->
					{% if form.reg_manager_email.errors %}
					{{ form.reg_manager_email.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px]
					text-[red] font-[500]") }}
					{{ form.reg_manager_email(class_="border border-[red] w-[350px] focus:outline-none
					pl-[10px] p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% else %}
					{{ form.reg_manager_email.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px]
					font-[500]") }}
					{{ form.reg_manager_email(class_="border border-[#ccc] w-[350px] focus:outline-none
					pl-[10px] p-[5px] rounded text-[12px] font-[#5a5a5a]") }}
					{% endif %}

					<!-- Error Message -->
					<ul>
						{% for error in form.reg_manager_email.errors %}
						<li class="text-[red] text-[11px] font-[600] pt-[5px]">{{ error }}</li>
						{% endfor %}
					</ul>
				</div>

				<!-- Image Upload -->
				<label for="reg_image" class="mb-[3px] mt-[15px] !font-[#5a5a5a] !text-[12px] font-[500]">
					Region Image
				</label>
				<div class="form-group mt-[0px] flex flex-col">
					<div id="photo-box"
						class="w-[350px] rounded p-[0px] !h-[180px] bg-[#fff] flex flex-col border border-[#ccc] relative">
						{{ form.reg_image(class_="hidden") }}
						<input type="file" id="image" name="image" class="hidden">
						<img id="photo" class="w-[100%] h-[180px] rounded border" />
					</div>
					<div class="flex flex-row mt-[10px] relative w-[350px]">
						<div class="btn-outline" onclick="document.getElementById('image').click()">
							Select a Photo
						</div>
						<div
							class="border border-[#ccc] text-[12px] p-[5px] pl-[10px] pr-[10px] rounded absolute left-[316px]">
							<i id="trashcan"
								class="fa-solid fa-trash cursor-pointer mt-[2px] text-[#5a5a5a]"></i>
						</div>
					</div>
				</div>

				<!-- LAT & LNG -->
				{{ form.reg_lat(id='reg_lat') }}
				{{ form.reg_lng(id='reg_lng') }}

				<!-- Submit Button -->
				<div id="buttons-container">
					<button onclick="window.location.href='/regions'" class="btn-outline">Cancel</button>
					{{ form.reg_submit(class_="border border-[#ccc] w-[100px] focus:outline-none ml-[15px]
					mr-[60px]
					pl-[10px] btn-solid") }}
				</div>
			</div>

			<!-- Right Column -->
			<div id="right-col">
				<!-- Map Filters -->
				<div class="flex !flex-row gap-[15px]">
					<!-- Region Continent -->
					<div class="flex flex-col">
						{{ form.reg_continent.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] font-[500]") }}
						{{ form.reg_continent(class_="w-[170px]") }}
					</div>
					<div class="flex flex-col">
						{{ form.reg_country.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] font-[500]")}}
						{{ form.reg_country(disabled=True, class_="disabled w-[170px]") }}
					</div>
					<div class="flex flex-col">
						{{ form.reg_state.label(class_="mb-[5px] !font-[#5a5a5a] !text-[12px] font-[500]")
						}}
						{{ form.reg_state(disabled=True, class_="disabled w-[170px]") }}
					</div>
					<div class="flex flex-col">
						<div id="reset-button" class="btn-disabled mt-[23px]" onclick="resetAddRegionMap()">
							Reset Map</div>
					</div>
				</div>
				<div class="flex flex-row ">
					<!-- Regions Map -->
					<div id="region-map" class="shadow-lg"></div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- End Add Region Form -->

{% endblock %}
<!-- END MODULE CONTAINER -->


{% block additional_js %}
<script>
	/*******************************************************************************************************
	 * REGION MAP
	 * ****************************************************************************************************/
	let map = L.map('region-map').setView([28.01888, -82.11469], 3.2); //starting position
	let bounds = new L.LatLngBounds(new L.LatLng(28.01888, -82.11469), new L.LatLng(61.2, 2.5));
	let myAPIKey = 'ac2f04a36afe49d2a5b7ea34eab0cead' // https://www.geoapify.com/


	// Update map height on window resize
	$(window).on("resize", function () { 
		$("#region-map").height($(window).height()); 
		map.invalidateSize(); 
	}).trigger("resize");

	// Draw Continent Border
	function applyContinentBorder(continentname) {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		// Get the continent borders data
		jQuery
			.ajax({
				type: "GET",
				dataType: "json",
				url: "regions/static/js/world-administrative-boundaries.geojson"
			})
			.then(function (data) {
				console.log("CONTINENT BORDERS: " + JSON.stringify(data, null, 2));

				// loop through data and get the continent by continentname
				for (var i = 0; i < data.features.length; i++) {
					//console.log("CONTINENTS: " + data.features[i].properties.continent );

					if (data.features[i].properties.continent == continentname) {
						var continentData = data.features[i];
						//console.log("CONTINENT DATA: " + JSON.stringify(continentData, null, 2));
						// Flyto the continent on map
						var zoom

						if (continentname == "Africa") {
							getAfricaBoundry() 
						} 
						else if (continentname == "Antarctica") {
							getAntarcticaBoundry()
						} 
						else if (continentname == "Asia") {
							getAsiaBoundry() 
						} 
						else if (continentname == "Southeast Asia") {
							getSoutheastAsiaBoundry() // NOT WORKING
						} 
						else if (continentname == "Europe") {
							getEuropeBoundry()
						} 
						else if (continentname == "Russia") {
							getRussiaBoundry() // NOT WORKING
						}
						else if (continentname == "North America") {
							getNorthAmericaBoundry()
						} 
						else if (continentname == "South America") {
							getSouthAmericaBoundry()
						}
						else if (continentname == "Oceania") {
							getOceaniaBoundry()
						} 
					}
				}
			});
	}

	// Draw Country Border
	function applyCountryBorder(countryname) {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		jQuery
			.ajax({
				type: "GET",
				dataType: "json",
				url:
					"https://nominatim.openstreetmap.org/search?country=" +
					countryname.trim() +
					"&polygon_geojson=1&format=json"
			})
			.then(function (data) {
				L.geoJSON(data[0].geojson, {
					color: "blue",
					weight: 3,
					opacity: 1,
					fillOpacity: 0.1
				}).addTo(map);

				// Set default zoom-level and Flyto the continent on map
				var country_lat = data[0].lat
				var country_lon = data[0].lon
				var zoom = 6
				map.flyTo([country_lat, country_lon], zoom);
			});
	}

	// Draw State Border
	function applyStateBorder(statename) {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		jQuery
			.ajax({
				type: "GET",
				dataType: "json",
				url:
					"https://nominatim.openstreetmap.org/search?state=" +
					statename.trim() +
					"&polygon_geojson=1&format=json"
			})
			.then(function (data) {
				console.log("STATE BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data[0].geojson, {
					color: "orange",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.1
				}).addTo(map);

				// Set default zoom-level and Flyto the continent on map
				var state_lat = data[0].lat
				var state_lon = data[0].lon

				map.flyTo([state_lat, state_lon], 7);
			});
	}

	// Load Map
	function loadMap() {
		/** MAP TILES */
		//API KEY: c03aea95c948480d8ec40331f8012ff1 || https://www.geoapify.com/geocoding-api
		L.tileLayer('https://maps.geoapify.com/v1/tile/osm-bright-smooth/{z}/{x}/{y}@2x.png?apiKey=' + myAPIKey, {
			minZoom: 3,
			maxZoom: 19.5
		}).addTo(map);

		/** MAP BOUNDRY */
		let southWest = L.latLng(-89.98155760646617, -240);
		let northEast = L.latLng(89.99346179538875, 240);
		let bounds = L.latLngBounds(southWest, northEast);

		// Map set bounds
		map.setMaxBounds(bounds);
		map.on('drag', function () {
			map.panInsideBounds(bounds, { animate: false });
		});

		// Draw Features
		var drawFeatures = new L.FeatureGroup();
		map.addLayer(drawFeatures);

		// Leaflet Draw - Add Toolbar
		var drawControl = new L.Control.Draw({
			edit: {
				featureGroup: drawFeatures,
				remove: true
			},
			draw: {
				polygon: {
					shapeOptions: {
						color: 'blue'
					}
				},
				polyline: false,
				rectangle: false,
				circle: false,
				marker: true,
				circlemarker: false
			}
		});
		map.addControl(drawControl);

		// Draw Created
		map.on('draw:created', function (e) {
			var type = e.layerType
			var layer = e.layer;
			drawFeatures.addLayer(layer);
		});

		// Draw Edited
		map.on('draw:edited', function (e) {
			var layers = e.layers
			var type = e.layerType

			if (type === 'marker') {
				layers.eachLayer(function (layer) {
					drawFeatures.addLayer(layer);
					console.log("Marker Layer: " + JSON.stringify(layer.toGeoJSON(), null, 2));
				});
			}

			if (type === 'polygon') {
				layers.eachLayer(function (layer) {
					drawFeatures.addLayer(layer);
					console.log("Poloygon Layer: " + JSON.stringify(layer.toGeoJSON(), null, 2));
				});
			}
		});

		// Get Lat & Lng on Click
		//map.on('click', function (e) {
			//alert("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)
			//L.circle([e.latlng.lat,e.latlng.lng], 160934).addTo(map);
		//});
	}
	loadMap()

	// Reset Map
	function resetAddRegionMap() {
		map.flyTo([28.01888, -82.11469], 3);
		resetContinentSelect()
		resetCountrySelect()
		resetStateSelect()
		document.getElementById("reset-button").classList.add("btn-disabled");
		document.getElementById("reset-button").classList.remove("btn-outline");

		// Remove the borders
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});
	}
	/*******************************************************************************************************
	 * END REGION MAP
	 * ****************************************************************************************************/


	/*******************************************************************************************************
	 * REGIONS COORDS
	 * ****************************************************************************************************/
	// Country Coords
	function getCountryCoords(country) {
		var countryLatEleVal = document.getElementById("reg_lat").value
		var countryLngEleVal = document.getElementById("reg_lng").value
		var api_key = "1fbc1d9344514e01bee70dac2096ecff"
		var api_url = `https://api.opencagedata.com/geocode/v1/json?key=${api_key}&q=${country}&pretty=1&no_annotations=1`

		fetch(api_url)
			.then(response => response.json())
			.then(data => {
				console.log("COUNTRY COORDS (Line 648): " + JSON.stringify(data, null, 2));

				// Get the country coords
				var countryLat = data.results[0].geometry.lat
				var countryLng = data.results[0].geometry.lng

				// Flyto the country on map
				map.flyTo([countryLat, countryLng], 6);
			});

		applyCountryBorder(country)
	}

	// State Coords
	getStateCoords = (state) => {
		var stateLatEleVal = document.getElementById("reg_lat").value
		var stateLngEleVal = document.getElementById("reg_lng").value
		var api_key = "1fbc1d9344514e01bee70dac2096ecff"
		var api_url = `https://api.opencagedata.com/geocode/v1/json?key=${api_key}&q=${state}&pretty=1&no_annotations=1`

		fetch(api_url)
			.then(response => response.json())
			.then(data => {
				console.log("STATE COORDS (Line 671): " + JSON.stringify(data, null, 2));

				// Get the state coords
				var stateLat = data.results[0].geometry.lat
				var stateLng = data.results[0].geometry.lng

				//console.log("stateLat: " + data.results[0].geometry.lat);
				//console.log("stateLng: " + data.results[0].geometry.lng);

				// Flyto the state on map
				map.flyTo([stateLat, stateLng], 6);
			});
	}
	/*******************************************************************************************************
	 * END REGIONS  COORDS
	 * ****************************************************************************************************/


	/*******************************************************************************************************
	 * REGIONS FORM FIELDS
	 * ****************************************************************************************************/
	// Get Africa Boundry Data
	function getAfricaBoundry() {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		fetch('regions/static/js/africa-outline.geojson', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				//console.log("AFRICA BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data, {
					color: "brown",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.2
				}).addTo(map);

				map.flyTo([8.7832, 34.5085], 3);
			});
	}

	// Get Asia Boundry Data --> CHANGE GEOJSON DATA
	function getAsiaBoundry() {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		fetch('regions/static/js/asia-outline.geojson', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				console.log("ASIA BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data, {
					color: "purple",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.2
				}).addTo(map);

				map.flyTo([34.0479, 100.6197], 3);
			});
	}

	// Get Southeast Asia Boundry Data --> CHANGE GEOJSON DATA
	function getSoutheastAsiaBoundry() {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		fetch('regions/static/js/southeast-asia.geojson', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				console.log("SOUTHEAST ASIA BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data, {
					color: "purple",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.2
				}).addTo(map);

				map.flyTo([2.2180, 115.6628], 4);
			});
	}

	// Get Europe Data --> CHANGE GEOJSON DATA
	function getEuropeBoundry() {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		fetch('regions/static/js/europe-outline.geojson', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				//console.log("EUROPE BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data, {
					color: "blue",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.2
				}).addTo(map);

				map.flyTo([60.00085, 78.61788], 3);
			});
	}

	// Get Russia Data --> CHANGE GEOJSON DATA
	function getRussiaBoundry() {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		fetch('regions/static/js/russia-outline.geojson', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				//console.log("RUSSIA BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data, {
					color: "red",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.2
				}).addTo(map);

				map.flyTo([61.98084, 96.87522], 3);
			});
	}

	// Get North America Boundry Data
	function getNorthAmericaBoundry() {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		fetch('regions/static/js/north-america-outline.geojson', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				//console.log("NORTH AMERICA BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data, {
					color: "green",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.2
				}).addTo(map);

				map.flyTo([54.5260, -105.2551], 3);
			});
	}

	// Get South America Boundry Data
	function getSouthAmericaBoundry() {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		fetch('regions/static/js/south-america-outline.geojson', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				//console.log("SOUTH AMERICA BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data, {
					color: "green",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.2
				}).addTo(map);

				map.flyTo([-16.2902, -63.5887], 3);
			});
	}

	// Get South Oceania Boundry Data --> CHANGE GEOJSON DATA
	function getOceaniaBoundry() {
		// Remove the previous borders before adding a new one
		map.eachLayer(function (layer) {
			if (layer instanceof L.Polyline) {
				map.removeLayer(layer);
			}
		});

		fetch('regions/static/js/oceania-outline.geojson', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				//console.log("OCEANIA BORDERS: " + JSON.stringify(data, null, 2));
				L.geoJSON(data, {
					color: "tan",
					weight: 2,
					opacity: 1,
					fillOpacity: 0.2
				}).addTo(map);

				map.flyTo([-22.7359, 140.0188], 4);
			});
	}


	// Get Continent Select values
	//var continentData = []
	function getContinentSelectValues() {
		fetch('/regions/get_continents', { method: 'GET' })
			.then(response => response.json())
			.then(data => {
				//console.log("CONTINENTS: " + JSON.stringify(data, null, 2));
				const continentEle = document.getElementById("reg_continent");

				var option = document.createElement("option");
				option.value = "";
				option.innerHTML = "Select a Continent";
				continentEle.appendChild(option);

				for (let i = 0; i < data.length; i++) {
					var option = document.createElement("option");
					option.value = data[i].value
					option.innerHTML = data[i].name

					continentEle.appendChild(option);
				}
			});
	}
	getContinentSelectValues()

	// Add a default item to the country select
	function intCountrySelect() {
		var option1 = document.createElement("option");
		option1.value = "";
		option1.innerHTML = "Select a Country";
		document.getElementById("reg_country").appendChild(option1);

		var option2 = document.createElement("option");
		option2.value = "";
		option2.innerHTML = "Select a State";
		document.getElementById("reg_state").appendChild(option2);
	}
	intCountrySelect()

	// Reset Continent Select
	function resetContinentSelect() {
		document.getElementById("reg_continent").value = ""
		document.getElementById("reg_continent").placeholder = "Select a Continent";

		// Create a default option item
		var option = document.createElement("option");
		option.value = "";
		option.innerHTML = "Select a Continent";
		document.getElementById("reg_continent").appendChild(option);
	}

	// Reset Country Select
	function resetCountrySelect() {
		document.getElementById("reg_country").value = ""
		document.getElementById("reg_country").setAttribute("disabled", "disabled");
		document.getElementById("reg_country").classList.add("disabled");
		document.getElementById("reg_country").placeholder = "Select a Country";

		// Create a default option item
		var option = document.createElement("option");
		option.value = "";
		option.innerHTML = "Select a Country";
		document.getElementById("reg_country").appendChild(option);
	}

	// Reset State Select
	function resetStateSelect() {
		document.getElementById("reg_state").value = ""
		document.getElementById("reg_state").setAttribute("disabled", "disabled");
		document.getElementById("reg_state").classList.add("disabled");
		document.getElementById("reg_state").placeholder = "Select a State";

		// Create a default option item
		var option = document.createElement("option");
		option.value = "";
		option.innerHTML = "Select a State";
		document.getElementById("reg_state").appendChild(option);
	}

	/**
	 * Get the countries based on the selected continent
	 */
	document.getElementById("reg_continent").addEventListener("change", function () {

		// Enable the reset button
		document.getElementById("reset-button").classList.remove("btn-disabled");
		document.getElementById("reset-button").classList.add("btn-outline");

		var selectedVal = document.getElementById("reg_continent").value
		if (selectedVal == "North America") {
			getNorthAmericaBoundry()
		}
		else if (selectedVal == "South America") {
			getSouthAmericaBoundry()
		}
		else if (selectedVal == "Russia") {
			getRussiaBoundry()
		}
		else if (selectedVal == "Europe") {
			getEuropeBoundry()
		}
		else if (selectedVal == "Asia") {
			getAsiaBoundry()
		}
		else if (selectedVal == "Southeast Asia") {
			getSoutheastAsiaBoundry()
		}
		else if (selectedVal == "Africa") {
			getAfricaBoundry()
		}
		else if (selectedVal == "Oceania") {
			getOceaniaBoundry()
		}
		else {
			applyContinentBorder(selectedVal)
		}

		// Reset state filed if it has already been selected
		const stateEle = document.getElementById("reg_state");
		if (stateEle.innerHTML != "Select a State") {
			resetStateSelect()
		}

		// Reset country filed if it has already been selected
		const countryEle = document.getElementById("reg_country");
		if (countryEle.value != "") {
			resetCountrySelect()
		}

		// define form elements
		const continentEle = document.getElementById("reg_continent");
		const countrySelectEle = document.getElementById("reg_country");

		// get countries
		fetch('regions/static/js/countries.json', { method: 'GET' })
			.then(response => response.json())
			.then(data => {

				//console.log(JSON.stringify(data, null, 2));

				const selectedContinent = continentEle.value
				countrySelectEle.removeAttribute("disabled");
				countrySelectEle.classList.remove("disabled");
				countrySelectEle.innerHTML = "";

				var option = document.createElement("option");
				option.value = "";
				option.innerHTML = "Select a Country";
				countrySelectEle.appendChild(option);

				for (let i = 0; i < data.length; i++) {
					if (data[i].continent == selectedContinent) {
						var option = document.createElement("option");
						option.value = data[i].country;
						option.innerHTML = data[i].country;
					}

					countrySelectEle.appendChild(option);
				}
			});
	})

	/**
	 * Get the states based on the selected country
	 */
	document.getElementById("reg_country").addEventListener("change", function () {
		// Reset state filed if it has already been selected
		const stateEle = document.getElementById("reg_state");
		if (stateEle.value != "") {
			resetStateSelect()
		}

		const regionFormEle = document.getElementById("add-region-form");
		const countrySelectEle = document.getElementById("reg_country");
		const stateSelectEle = document.getElementById("reg_state");

		getCountryCoords(countrySelectEle.value)

		// Get the states based on the selected country
		$.post(
			"https://countriesnow.space/api/v0.1/countries/states",
			{ country: countrySelectEle.value },
			function (response) {
				var stateObj = response.data.states

				//console.log("STATES: " + JSON.stringify(stateObj, null, 2));

				// If there are no states in the country
				if (stateObj.length < 1) {
					// Clear the state select
					stateSelectEle.setAttribute("disabled", "disabled");
					stateSelectEle.classList.add("disabled");
					stateSelectEle.innerHTML = "";

					// Create the option tag and add a default option item w/ message
					var option = document.createElement("option");
					option.value = "";
					option.innerHTML = "There are no States in this country";
					stateSelectEle.appendChild(option);
					//console.log("There are no States in this country")
					return;
				}

				// If there are states in the country enable the select element
				stateSelectEle.removeAttribute("disabled");
				stateSelectEle.classList.remove("disabled");
				stateSelectEle.innerHTML = "";

				// Create a default option item
				var option = document.createElement("option");
				option.value = "";
				option.innerHTML = "Select a State";
				stateSelectEle.appendChild(option);

				// Create the states option items
				for (let i = 0; i < stateObj.length; i++) {
					// Create the option tag
					var option = document.createElement("option");
					option.value = stateObj[i].state_code;
					option.innerHTML = stateObj[i].name

					// Append the state name to the option tag
					stateSelectEle.appendChild(option);
				}
			}
		)
	})

	/**
	 * Get the lat & lng of the selected state
	 */
	document.getElementById("reg_state").addEventListener("change", function () {
		var selectedVal = document.getElementById("reg_state").value
		getStateCoords(selectedVal)
		applyStateBorder(selectedVal)
	})
	/*******************************************************************************************************
	 * END REGIONS FORM FIELDS
	 * ****************************************************************************************************/


	/*******************************************************************************************************
	 * IMAGE UPLOAD
	 * ****************************************************************************************************/
	$(document).ready(function () {
		$pic = $('<img id="photo" class="!w-[350px] !h-[180px] rounded border absolute top-0 left-0 right-0 bottom-0"/>');

		$("#image").change(function (e) {
			// Strip Fake Path from filename
			const imgFilename = e.target.files[0].name;
			$("#reg_image").val(imgFilename)

			var $lbl = $("#photo-box");
			var files = !!this.files ? this.files : [];
			if (!files.length || !window.FileReader) {
				$("#photo").remove();
				$lbl.appendTo("#photo-box");
			}
			if (/^image/.test(files[0].type)) {
				var reader = new FileReader();
				reader.readAsDataURL(files[0]);
				reader.onloadend = function () {
					$pic.appendTo("#photo-box");
					$("#photo").attr("src", this.result);
				}
			}
		});

		$("#trashcan").click(function () {
			$("#photo").remove();
			$("#reg_image").val("");
		});
	})
	/*******************************************************************************************************
	 * END IMAGE UPLOAD
	 * ****************************************************************************************************/


	/*******************************************************************************************************
	 * SUBMIT FORM
	 * ****************************************************************************************************/
	function submitForm() {
		$("#add-region-form").submit()
	}
</script>
{% endblock additional_js %}