body {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    background-image: url('../../static/img/login-background.png');
    background-position: center;
    background-size: cover;
}

body * {
    box-sizing: border-box;
}

.login-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.gcoms-txt {
    font-size: 1.5em;
    color: white;
}

.app-title {
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: white;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.app-sub-title {
    font-size: .8em;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color: white;

    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

#form-container {
    margin-top: 10px !important;
    height: 200px;
    margin: auto;
    width: 50%;
    padding: 20px;
    
}

.error-text,
.form-title {
    font-size: .8em;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    color: white;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.input {
    width: 500px;
    height: 38px;
    font-size: .8em;
    margin-bottom: 15px;
    margin-left: 50px;
    background-color: transparent !important;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px;
    padding-left: 8px;
    color: white;
}

input:-webkit-autofill { 
    -webkit-background-clip: text;
}

input:focus {
    outline: none;
}

input:-webkit-autofill { 
    -webkit-background-clip: text;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btn {
    width: 500px !important;
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: transparent !important;
    color: white;
    cursor: pointer !important;
}

.btn:hover {
    background-color: rgba(196, 196, 196, 0.787) !important;
    color: black;
}

.error {
    border: 1px solid #ea4a4a;;
    color: #ea4a4a;
}

.error-txt {
    color: #ea4a4a;
    font-size: 16px;
    font-weight: bold;
}
