{% extends 'base.html' %}


{% block module_container %}
<div id="loc-view-container">
    <!-- Page Header -->
    <div style="margin-top: -20px; border-bottom: 1px solid #ccc !important; height: 50px;">
        <div id="titlebar" class="w-full mt-5 ml-0 sticky z-50">
            <div class="w-full mt-5 ml-4 sticky z-50">
                <div class="page-title">Location Management</div>
                    <div class="page-subtitle text-sm mb-3" id="available-facilities">Dashboard</div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    
    <!-- Page Header -->
    <div id="dashboard_view-wrapper"></div>
</div>
{% endblock %}

{% block additional_css %}
{% endblock %}