<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
    <!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/9d496d0869.js" crossorigin="anonymous"></script>

		<!-- Tailwind CSS -->
		<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="absolute top-0 left-0 right-0 bottom-0">
        <div>
            <img src="static/img/500.png" alt="" class="ml-[auto 0]  !z-[1] absolute top-[20px] left-[0] max-w-[1300px] min-w-[1300px]">

            <!-- NEEDS TO BE COMPLETED -->
             <!--  Return to previous page and send email contain the error -->
            <button class="rounded bg-[red] text-white font-[600] p-[8px] pl-[15px] pr-[15px] !z-[10] absolute top-[515px] left-[260px]">Report Issue</button>
        </div>
    </div>
</body>
</html>