<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Application Title -->
		<title>
            	{% block title %}GCOMS - Dashboard{% endblock %}
        	</title>

		<!-- Phosphor Icons -->
		<script src="https://unpkg.com/@phosphor-icons/web"></script>

		<!-- FontAwesome -->
		<script src="https://kit.fontawesome.com/9d496d0869.js" crossorigin="anonymous"></script>

		<!-- Tailwind CSS -->
		<script src="https://cdn.tailwindcss.com"></script>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<!-- <script src="../assets/js/jquery.tmpl.js"></script> -->

		<!-- LEAFLET (Maps) -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="crossorigin=""></script>
		<script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.js"></script>
    	<link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css" rel="stylesheet" />
    	<script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>
		<script src="https://unpkg.com/leaflet-providers@latest/leaflet-providers.js"></script>

		<!-- QUILL (Text Editor) -->
		<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
        	<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

		<!-- HTMX -->
		<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>

		<!-- Alpine -->
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

		<!-- HERE PLATFORM MAPS | https://www.here.com/ | Used to get coords from address -->
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
		<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
		<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>

		<!-- App CSS -->
		<link href="../static/css/app.css" rel="stylesheet">
		<link href="../regions/static/css/app.css" rel="stylesheet">

		<!-- Additional CSS Slot -->
        {% block additional_css %}{% endblock additional_css %}
		<!-- End Additional CSS Slot -->
	</head>

	<body x-cloak>
        <!-- TOP APP BAR -->
		{% if user.is_authenticated %}
			{% include '_top_app_bar.html' %}
		{% endif %}
		<!-- END TOP APP BAR -->-


		<!-- LEFT TOOLBAR -->
		{% if user.is_authenticated %}
			{% include '_left_app_toolbar.html' %}
		{% endif %}
		<!-- END LEFT TOOLBAR -->


		<!-- MODULE CONTAINER -->
		{% if user.is_authenticated %}
			<div id="module-container" class="fixed top-[40px] right-0 bottom-0 left-[184px]">
				<!-- Flask Flash Messages -->
				<!-- {% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						<div class="flex flex-row w-full">
							{% for category, message in messages %}
								{% if category == 'error' %}
									<p class="bg-[red] text-white p-[10px]">{{ message }}</p>
								{% endif %}
								{% if category == 'success' %}
									<p class="bg-[green] text-white p-[10px]">{{ message }}</p>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %} -->
				<!-- End Flask Flash Messages -->

				<!-- Flask Module Slot  -->
				{% block module_container %}{% endblock %}
				<!-- End Flask Module Slot -->
			</div>
		{% else %}
			<!-- Flask Module Slot  -->
            	{% block auth_container %}{% endblock %}
			<!-- End Flask Module Slot -->
		{% endif %}
		<!-- END MODULE CONTAINER -->


		<!-- AUTO LOGOUT JS FUNCTIONS -->
		<script>
			/** ENABLE THIS CODE TO ENABLE AUTO LOGOUT FUNCTIONALITY
			$(document).click(function() {
				if(typeof timeOutObj != "undefined") {
					clearTimeout(timeOutObj)
				}
			
				timeOutObj = setTimeout(function() { 
					localStorage.clear()
					window.location = "/logout"
				}, 1200000)  // will expire after twenty minutes
			})
			**/
		</script>
		<!-- END AUTO LOGOUT JS FUNCTIONS -->

		<!-- Additional JS Code Slot -->
		{% block additional_js %}{% endblock additional_js %}
		<!-- End Additional JS Code Slot -->
	</body>
</html>